@{
    Layout = ViewData["Layout"] as string;
}

<ew-template />

@model PlanetDataModel

<h1>@Model.Title</h1>

@if (Model.Thumbnail != null)
{
    <div>
        <img src="@Model.Thumbnail.Source" alt="@Model.Title" width="@Model.Thumbnail.Width"
            height="@Model.Thumbnail.Height" />
    </div>
}

<p><strong>Description:</strong> @Model.Description</p>

<p><strong>Extract:</strong> @Model.Extract</p>
